body {
  font-family: Arial, sans-serif;
  background-image: url('background.jpg');
}
.title {
  text-align: center; 
  margin-top: 20px; 
  font-size: 32px; 
  color: #007bff;
  margin-bottom: -5rem; 
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  max-width: 600px;
  width: 100%;
  background:linear-gradient(45deg, #607ad1, #161d24);
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  margin-bottom: 20px;
}

.choices {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
}
.choice {
  background:linear-gradient(rgba(247, 242, 242, 0.37), rgba(42, 43, 56, 0.295));
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.choice:hover {
  background-color: #035dbd;
  transition: background-color 0.3s ease; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  transform: translateY(-2px); 
}
.choice.selected {
  background-color: #28a745;
}
/* button */

.btn {
  position: relative;
  width: 120px;
  height: 30px;
  margin-left: 4rem;
  justify-content: space-evenly;
}
.btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(243, 9, 9, 0.473);
  border-bottom: 1px solid rgba(243, 9, 9, 0.473);
  border-radius: 30px;
  color: #ffffff;
  z-index: 1;
  font-weight: 400;
  letter-spacing: 0.2px;
  text-decoration: none;
  overflow: hidden;
  transition: .1s;
  backdrop-filter: blur(15px);
}

.btn:hover a {
  letter-spacing: 3px;
}

.btn a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}
.btn:hover a::before {
  transform: skewX(45deg) translateX(200%);
}

.btn::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.btn:hover::before {
  bottom: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}

.btn::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
  transition-delay: 0s;
}

.btn:hover::after {
  top: 0;
  height: 50%;
  width: 80%;
  border-radius: 30px;
  transition-delay: 0.5s;
}
/* Button end */
#result {
  display: none;
  margin-top: 20px;
}
#restart {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
#restart:hover {
  background-color: #0056b3;
}
